<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.rest.mapper.RestMapper">
	<select id="getAllRestVO" resultType="map">
		SELECT id, title, text, imageUrl
			FROM rest
	</select>
	<select id="getRestVOById" parameterType="int" resultType="RestVO">
		SELECT id, title, text, imageUrl
			FROM rest
			WHERE id = #{id}
	</select>
	<insert id="postRestVO" parameterType="RestVO"  useGeneratedKeys="true" keyProperty="id">
		INSERT INTO rest VALUES (#{id, jdbcType=INTEGER}, #{title}, #{text}, #{imageUrl})
	</insert>
	<update id="putRestVO" parameterType="RestVO">
		UPDATE rest SET title = #{title}, text = #{text}, imageUrl = #{imageUrl} WHERE id = #{id}
	</update>
	<delete id="deleteRestVO" parameterType="int">
		DELETE FROM rest WHERE id = #{id}
	</delete>
</mapper>