<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>SSE (15 Second)</h2>
	<button onclick="location.href='/sse-next'">Next</button>
	<script src="/resources/js/jquery-3.6.1.min.js"></script>
	<script src="/resources/js/common.js"></script>
	<script type="text/javascript">
		const eventSource = getSseEventSource("TestID");
		eventSource.onmessage = event => {
			console.log(new Date() + "\nCustom: " + event.data);
		}
		function call(n) {
			for (let i = 0; i < n; i++) {
				setTimeout(() => {
					getSseEventSource("TestID" + i);
				}, i*1000);
			}
		}
	</script>
</body>
</html>